.track-item {
    background-color: #1DC68C;
    padding: 30px;
    border-radius: 20px;


}


.track-btn {
    background-color: #1DC68C;
    color: antiquewhite;

}

.track-btn:hover {


    background-color: #1DC68C;
    color: antiquewhite;


}