.inventory-container {

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info-container {

    margin: 50px;
    font-size: 30px;
}

@media only screen and (max-width:500px) {
    .inventory-container {

        grid-template-columns: 1fr;
    }
}